/* #navbarNav {
    text-align: right;
} */

.navbar {
    margin-bottom: 20px;
}

.navbar-buttons {
    /* float: right; */
    /* display: flex; */
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    font-size: 13px;
    /* margin-right: 10px; */
    padding-right: 0px;
    margin-right: 0px;
    white-space: nowrap;
}

.navbar-nav {
    flex-direction: row;
    float: right;
}

.signup-button {
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    color: white;
    font-size: 12px;
    /* float: right; */
    /* float: right;
    text-align: right; */
}

li {
    margin: 0 5px 0 5px;
}
