#navbarNav {
    text-align: right;
}

.navbar {
    margin-bottom: 40px;
}

.navbar-buttons {
    float: left;
    text-align: right;
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    font-size: 13px;
}

.navbar-brand {
    font-family: "Barlow";
}

.signup-button {
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    color: white;
    font-size: 13px;
    float: right;

}