.jumboHome { 
    height: 260px;
    width: 400px;
    clear: both;
    padding-top: 30px;
    margin: 10% 0 0 10%;
    text-align: center;
    background-color: white;
  }

h2 {
    font-size: 30px !important;
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    margin-bottom: 0px;
    text-align: center;
  }

.subhead {
    font-size: 16px;
    margin-bottom: 30px;
}

  .jumbotron {
      padding: 25px !important;
      background-color: rgba(248, 245, 245, 0.6) !important;
  }

  .home-buttons {
      margin: 20px 8px 10px 8px;
  }

  .signin-text {
      font-size: 14px;
      padding-top: 5%;
      display: flex;
      float: right;
  }

a:hover {
    color: black;
    text-decoration: none;
}

.search {
    margin-top: 0px;
}

.form-control {
    margin-right: 0px;
    /* border-radius: 20px 0 0 20px; */
}

.main-header {
    /* margin-bottom: 30px; */
}

#course {
    /* margin-bottom: 16px; */
}

.jumbotron-search-button {
    border-radius: 0 20px 20px 0 !important;
}

.jumbotron-input-field {
    border-radius: 20px 0 0 20px !important;
}

.spacer {
    margin: 0 10px 0 5px;
}