.jumboHome { 
    height: 260px;
    width: 400px;
    clear: both;
    padding-top: 30px;
    margin: 10% 0 0 10%;
    text-align: center;
    background-color: white;
  }

  .home-buttons {
      margin: 20px 8px 10px 8px;
  }

  .signin-text {
      font-size: 14px;
      padding-top: 5%;
      display: flex;
  }

  h2 {
      font-size: 24px;
      font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
      margin-bottom: 20px;
      text-align: center;
    }

.search {
    margin-top: 0px;
}

.form-control {
    margin-right: 0px;
    /* border-radius: 20px 0 0 20px; */
}

.main-header {
    /* margin-bottom: 30px; */
}

#course {
    margin-bottom: 16px;
}