.search-box {
    background-color: white;
    /* width: 400px; */
    height: 400px;
    margin-top: 40px;
    /* margin-left: 10%; */
    padding: 20px;
}

.checkboxes {
    margin-top: 20px;
}

h2 {
    text-align: center;
}