* {
    box-sizing: border-box;
}

body {
    background: url("../images/students.jpg");
    background-repeat: no-repeat;
    /* height: 100%; */
    background-size: 1420px;
}

.submit-button {
    display: inline-flex;
    /* box-sizing: border-box; */
    /* height: inherit; */
    float: right;
    margin-bottom: 16px;
    /* border-radius: 0 20px 20px 0; */
}

form.search {
  overflow: auto;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

form.search button[type="submit"] {
  /* margin-top: 10px; */
  /* display: flex; */
  float: right;
}

.form-group {
    display: flex;
    /* margin-top: 20px !important; */
    /* width: 100%; */
    /* margin-bottom: 8px; */
    /* display: flex; */
}

.box {
    background-color: white;
}

.review-button {
    width: 110px;
    Font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-size: 11px;
    margin-top: 5px;
}

.reviewer-name {
    font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-top: 15px;
}

.login-password-field {
    border-radius: 20px 0 0 20px;
}

.login-email-field {
    border-radius: 20px 20px 20px 20px;
}

.login-submit-button {
    border-radius: 0 20px 20px 0;
}


