.image {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.text {
    display: inline-block;
}

.results-box {
    margin-top: 40px;
}

p {
    font-size: 12px;
    line-height: 14px;
}