.image {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.text {
    display: inline-block;
}

.results-box {
    margin-top: 0px;
    padding: 0px;
}

p {
    font-size: 12px;
    line-height: 14px;
}

.name {
    Font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.interests, .goals, .level {
    Font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-size: 13px;
    width: 100%;
}

.student-contact-button {
    display: flex;
    float: right;
    margin-bottom: 16px;
}
